<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styleMain.css">
</head>
<body>
  <div class="container">  
    <aside>
      <div class="top">
        <div class="logo">
          <img src="../assets/image/logo.png">
          <h2>E-<span class="danger">CHECK</span></h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons">close</span>
        </div>
      </div>
      <div class="sidebar">
        <a href="#" class="active">
          <span class="material-icons">grid_view</span>
          <h3>Bảng điều khiển</h3>
        </a>
        <a href="#">
          <span class="material-icons">business</span>
          <h3>Business</h3>
        </a>
        <a href="#" >
          <span class="material-icons">person_outline</span>
          <h3>Tài khoản</h3>
        </a>
        <a href="#">
          <span class="material-icons">insights</span>
          <h3>Phân tích</h3>
        </a>
        <a href="#">
          <span class="material-icons">mail_outline</span>
          <h3>Tin nhắn</h3>
          <span class="message-count">26</span>
        </a>
        <a href="#">
          <span class="material-icons">inventory</span>
          <h3>Công cụ hỗ trợ</h3>
        </a>
        <a href="#">
          <span class="material-icons">report_gmailerrorred</span>
          <h3>Báo cáo</h3>
        </a>
        
        <a href="#">
          <span class="material-icons">shopping_cart</span>
          <h3>Dịch vụ Facebook</h3>
        </a>
        <a href="#">
          <span class="material-icons">shopping_cart</span>
          <h3>Dịch vụ TikTok</h3>
        </a>
        <a href="#">
          <span class="material-icons">shopping_cart</span>
          <h3>Dịch vụ Intagram</h3>
        </a>
        <!-- <a href="#">
          <span class="material-icons">add</span>
          <h3>Thêm sản phẩm</h3>
        </a> -->
        <a href="#">
          <span class="material-icons">settings</span>
          <h3>Cài đặt</h3>
        </a>
        <a href="#">
          <span class="material-icons">logout</span>
          <h3>Đăng xuất</h3>
        </a>
      </div>
    </aside>
    <!------------------- END OF ASIDE----------------->
