<main>
  <h1>Bảng điều khiển</h1>
  <div class="date">
    <input type="date" />
  </div>
  <div class="insights">
    <h2>Doanh nghiệp</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên doanh nghiệp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>93949959</td>
          <td>Võ Minh Hiếu</td>
        </tr>
        <tr>
          <td>93949959</td>
          <td>Võ Minh Hiếu</td>
        </tr>
        <tr>
          <td>93949959</td>
          <td>Võ Minh Hiếu</td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
  <!------------------- END OF INSIGHTS ---------------->
  <div class="recent-orders">
    <h2>Tài khoản quảng cáo</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <th>Tên tài khoản</th>
          <th>Số dư</th>
          <th>Tiền tệ</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>93493</td>
          <td>Võ Minh Hiếu</td>
          <td>4646454</td>
          <td>USD-TS</td>
          <td class="warning">Pending</td>
        </tr>
        <tr>
          <td>93493</td>
          <td>Võ Minh Hiếu</td>
          <td>4646454</td>
          <td>USD-TS</td>
          <td class="danger">Danger</td>
        </tr>
        <tr>
          <td>93493</td>
          <td>Võ Minh Hiếu</td>
          <td>4646454</td>
          <td>USD-TS</td>
          <td class="success">Success</td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
</main>
